.main_lay {
  padding: 6rem;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1300px;
}

@media(max-width: 5000px){
  .main_lay {
    padding: 4rem;
  }
}

@media(max-width: 400px){
  .main_lay {
    padding: 2rem;
  }
}